#framepack
accelerate
diffusers
transformers
sentencepiece
pillow
av
numpy
scipy
requests
torchsde
einops
opencv-contrib-python
safetensors

#load_lora
protobuf
PEFT

#sd-script train lora
ftfy
opencv-python
pytorch-lightning
bitsandbytes
prodigyopt
lion-pytorch
tensorboard
safetensors
imagesize
rich
toml
voluptuous

#fish-speech
fish_speech_lib

#other
emoji
ollama
jieba
tqdm

#realesrgan
basicsr>=1.4.2
facexlib>=0.2.5
gfpgan>=1.3.5
realesrgan